.cart-page{
    height: 100vh;
    text-align: center;
}
.cart-page table{
    display: block;
    width: 80%;
    padding: 0px 20px;
    margin: 0 auto;
}
.cart-page .title{
    text-align: left;
    margin: 30px 100px;
}
.cart-page table tr .qty{
    width: 40px;
    height: 10px;
    margin-top: 30px;
}
.cart-page table .td-row{
    border: none;
    border-radius: 10px;
    width: 80%;
    padding: 0;
    margin: 0 auto;
}
.cart-page table .td-row .remove-btn{
    background: rgb(82, 82, 82);
    width: 20px;
    height: 20px;
    color: white;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cart-page table .th-row th{
    border: none;
    border-radius: 10px;
    padding: 0;
    width: 160px;
    margin: 0 auto;
    text-align: center;
}
.cart-page table .td-row td{
    border: none;
    border-radius: 10px;
    width: 200px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.cart-page table .table-body {
    height: 280px;
    overflow-y: scroll;
}
.cart-page table .table-head {
    overflow-y: scroll;
}
.checkout {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(230, 230, 230);
    text-align: right;
    padding-top: 20px;
}
.checkout .total{
    font-family: 'Calibri';
    font-size: 40px;
    font-weight: bold;
    color: #111;
    padding: 20px;
    margin-top: 10px;
}
.checkout .checkout-btn{
    font-size: 24px;
    font-weight: bold;
    background: rgb(57, 168, 72);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 200px 0px 20px;
}

.checkout .checkout-btn:hover{
    background: rgb(49, 136, 61);
}

.message-box{
    width: 400px;
    height: auto;
    color: rgb(109, 109, 109);
    vertical-align: center;
    margin: 100px auto;
    padding: 40px 80px 60px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.message-box button{
    background: rgb(60, 60, 165);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
