.register-page{
    width: 400px;
    margin: 30px auto;
}

.container {
    padding: 16px;
    background-color: white;

  }
  
  input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .registerbtn {
    background-color: #107eaa;
    border-radius: 10px;
    color: white;
    padding: 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  a {
    color: dodgerblue;
  }
  
  .signin {
    text-align: center;
  }
  
  .back-btn{
    color: #777;
    position: absolute;
    left: 0;
    margin-left: 100px;
    text-align: left;
    cursor: pointer;
  }

  .back-btn:hover{
    color: #222;
  }